<div class="container">
  <div class="row" style="margin:5%">
    <div class="col-md-12">
      <table class="table table-bordered table-striped  table1" >
        <tr>
          <th>No.Kamar</th>
          <th>Type</th>
          <th>Price</th>
          <th>Status</th>
          <th>Book</th>
        </tr>
        <tr *ngFor="let r of roomlist; let i of index"  >
          <td>{{r.Room}}</td>
          <td>{{r.Type}}</td>
          <td>{{r.Price}}</td>
          <td *ngIf = "r.Status == 1; else firstTemp">
            <div style="color:green"> Available </div>
          </td>
          <!--Else -->
          <ng-template #firstTemp>
            <td>
            <div style="color:red"> Unavailable </div>
          </td>
        </ng-template>
        
        <td>
            <div *ngIf = "r.Status == 1; else secondTemp">
              <button class="btn btn-success" (click)="bookroom" >BOOK</button>
            </div>
            <!--Else -->
            <ng-template #secondTemp> <td>
            <button class="btn btn-danger" (click)="bookroom" >BOOKED</button>
            </td></ng-template>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
